In [2]:
import numpy as np
import pandas as pd
from sklearn.naive_bayes import CategoricalNB

Teste usando a tabela sem alteração:

In [3]:
dados = pd.read_csv('data.csv', sep=';')
dados.head()

,Marital status,Application mode,Application order,Course,Daytime/evening attendance\t,Previous qualification,Previous qualification (grade),Nacionality,Mother's qualification,Father's qualification,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
0,1,17,5,171,1,1,122.0,1,19,12,...,0,0,0,0,0.000000,0,10.8,1.4,1.74,Dropout
1,1,15,1,9254,1,1,160.0,1,1,3,...,0,6,6,6,13.666667,0,13.9,-0.3,0.79,Graduate
2,1,1,5,9070,1,1,122.0,1,37,37,...,0,6,0,0,0.000000,0,10.8,1.4,1.74,Dropout
3,1,17,2,9773,1,1,122.0,1,38,37,...,0,6,10,5,12.400000,0,9.4,-0.8,-3.12,Graduate
4,2,39,1,8014,0,1,100.0,1,37,38,...,0,6,6,6,13.000000,0,13.9,-0.3,0.79,Graduate

In [4]:
#Arrumando GDP e Inflation Rate para serem sempre positivos
for a in range(len(dados.index)):
  dados.GDP[dados.index[a]] += 10
  dados['Inflation rate'][dados.index[a]] += 10
#Aplicando um filtro para retirar a coluna "Target" que é o nosso objetivo
filter1 = dados[(dados['Target'] != 'Enrolled')]
filter1.drop(['Target'], inplace = True, axis = 1)

<ipython-input-4-c28c660503bb>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados.GDP[dados.index[a]] += 10
<ipython-input-4-c28c660503bb>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados['Inflation rate'][dados.index[a]] += 10
<ipython-input-4-c28c660503bb>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filter1.drop(['Target'], inplace = True, axis = 1)

In [5]:
#Separando o objetivo
Y = dados.loc[dados['Target'] != 'Enrolled', 'Target']
Y.head(10)

0     Dropout
1    Graduate
2     Dropout
3    Graduate
4    Graduate
5    Graduate
6    Graduate
7     Dropout
8    Graduate
9     Dropout
Name: Target, dtype: object

In [6]:
#Treinando o modelo
model = CategoricalNB()
model.fit(filter1, Y)
#Accuracy do modelo
acc_train = model.score(filter1, Y)
print(acc_train)

0.8713498622589532

Aplicando as categorizações às colunas:

In [7]:
dados.rename(columns = {'Application mode':'ApplicationMode'}, inplace = True)
dados.rename(columns = {'Previous qualification':'PreviousQualification'}, inplace = True)
# Agrupando dados para melhorar o CategoricalNB
for a in range(4424):
  #Modo de entrada
  if dados.ApplicationMode[a] in [1, 2, 10, 17, 18]: dados.ApplicationMode[a] = 0 #Entrada normal
  elif dados.ApplicationMode[a] in [5, 15, 16, 26]: dados.ApplicationMode[a] = 1 #Entrada especial
  elif dados.ApplicationMode[a] in [27, 42, 43, 51, 57]: dados.ApplicationMode[a] = 2 #Mudança de curso/Transferência
  else: dados.ApplicationMode[a] = 3 #Já tem diploma
  #Previous education
  if dados.PreviousQualification[a] in [2, 3, 4, 5, 6, 39, 40, 42, 43]: dados.PreviousQualification[a] = 0 #Ensino superior
  elif dados.PreviousQualification[a] in [9, 10, 12, 14, 15]: dados.PreviousQualification[a] = 2 #Ensino médio incompleto
  elif dados.PreviousQualification[a] != 1: dados.PreviousQualification[a] = 3 #Fundamental incompleto

<ipython-input-7-01464f29db05>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if dados.ApplicationMode[a] in [1, 2, 10, 17, 18]: dados.ApplicationMode[a] = 0 #Entrada normal
<ipython-input-7-01464f29db05>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  elif dados.ApplicationMode[a] in [5, 15, 16, 26]: dados.ApplicationMode[a] = 1 #Entrada especial
<ipython-input-7-01464f29db05>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  else: dados.ApplicationMode[a] = 3 #Já tem diploma
<ipython-input-7-01464f29db05>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  elif dados.PreviousQualification[a] != 1: dados.PreviousQualification[a] = 3 #Fundamental incompleto
<ipython-input-7-01464f29db05>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if dados.PreviousQualification[a] in [2, 3, 4, 5, 6, 39, 40, 42, 43]: dados.PreviousQualification[a] = 0 #Ensino superior
<ipython-input-7-01464f29db05>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  elif dados.ApplicationMode[a] in [27, 42, 43, 51, 57]: dados.ApplicationMode[a] = 2 #Mudança de curso/Transferência
<ipython-input-7-01464f29db05>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  elif dados.PreviousQualification[a] in [9, 10, 12, 14, 15]: dados.PreviousQualification[a] = 2 #Ensino médio incompleto

In [8]:
dados.rename(columns = {'Previous qualification (grade)':'PreviousGrade'}, inplace = True)
# Tornando as variáveis "contínuas" em categorias para facilitar o CatergoricalNB
for a in range(4424):
  if dados.PreviousGrade[a] < 111: #Muito ruim
    dados.PreviousGrade[a] = 0
  elif dados.PreviousGrade[a] < 131: #Ruim
    dados.PreviousGrade[a] = 1
  elif dados.PreviousGrade[a] < 151: #Médio
    dados.PreviousGrade[a] = 2
  elif dados.PreviousGrade[a] < 171: #Bom
    dados.PreviousGrade[a] = 3
  else: dados.PreviousGrade[a] = 4 #Muito bom

<ipython-input-8-daed4730d521>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados.PreviousGrade[a] = 1
<ipython-input-8-daed4730d521>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados.PreviousGrade[a] = 3
<ipython-input-8-daed4730d521>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados.PreviousGrade[a] = 0
<ipython-input-8-daed4730d521>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados.PreviousGrade[a] = 2
<ipython-input-8-daed4730d521>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  else: dados.PreviousGrade[a] = 4 #Muito bom

Teste após categorização de parâmetros (sem retirar colunas):

In [9]:
#Aplicando um filtro para retirar a coluna "Target" que é o nosso objetivo
filter2 = dados[(dados['Target'] != 'Enrolled')]
filter2.drop(['Target'], inplace = True, axis = 1)
#Treinando o modelo
model.fit(filter2, Y)
#Accuracy do modelo
acc_train = model.score(filter2, Y)
print(acc_train)
filter2.head()

0.8727272727272727

<ipython-input-9-b8f2719b4150>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filter2.drop(['Target'], inplace = True, axis = 1)

,Marital status,ApplicationMode,Application order,Course,Daytime/evening attendance\t,PreviousQualification,PreviousGrade,Nacionality,Mother's qualification,Father's qualification,...,Curricular units 1st sem (without evaluations),Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP
0,1,0,5,171,1,1,1.0,1,19,12,...,0,0,0,0,0,0.000000,0,10.8,11.4,11.74
1,1,1,1,9254,1,1,3.0,1,1,3,...,0,0,6,6,6,13.666667,0,13.9,9.7,10.79
2,1,0,5,9070,1,1,1.0,1,37,37,...,0,0,6,0,0,0.000000,0,10.8,11.4,11.74
3,1,0,2,9773,1,1,1.0,1,38,37,...,0,0,6,10,5,12.400000,0,9.4,9.2,6.88
4,2,3,1,8014,0,1,0.0,1,37,38,...,0,0,6,6,6,13.000000,0,13.9,9.7,10.79

Mudança mais importante (União de duas colunas em uma):

In [10]:
dados.rename(columns = {'Curricular units 1st sem (enrolled)':'Enrolled1st'}, inplace = True)
dados.rename(columns = {'Curricular units 1st sem (approved)':'Approved1st'}, inplace = True)
dados.rename(columns = {'Curricular units 2nd sem (enrolled)':'Enrolled2nd'}, inplace = True)
dados.rename(columns = {'Curricular units 2nd sem (approved)':'Approved2nd'}, inplace = True)
# Converter as colunas de matrícula/aprovação dos semestres em uma única coluna de proporção entre elas
for a in range(4424):
  if dados.Enrolled1st[a] == 0: dados.Approved1st[a] = 4 #Não se matriculou
  else:
    ratio1st = dados.Approved1st[a] / dados.Enrolled1st[a]
    if (ratio1st > 0.9) & (ratio1st <= 1): dados.Approved1st[a] = 0 #Excelente desempenho
    elif (ratio1st > 0.7) & (ratio1st <= 0.9): dados.Approved1st[a] = 1 #Bom desempenho
    elif (ratio1st > 0.5) & (ratio1st <= 0.7): dados.Approved1st[a] = 2
    else: dados.Approved1st[a] = 3 #Mal desempenho
  if dados.Enrolled2nd[a] == 0: dados.Approved2nd[a] = 4 #Não se matriculou
  else:
    ratio2nd = dados.Approved2nd[a] / dados.Enrolled2nd[a]
    if (ratio2nd > 0.9) & (ratio2nd <= 1): dados.Approved2nd[a] = 0 #Excelente desempenho
    elif (ratio2nd > 0.7) & (ratio2nd <= 0.9): dados.Approved2nd[a] = 1 #Bom desempenho
    elif (ratio2nd > 0.5) & (ratio2nd <= 0.7): dados.Approved2nd[a] = 2 #Médio desempenho
    else: dados.Approved2nd[a] = 3 #Mal desempenho
dados.rename(columns = {'Approved1st':'1st semester performance'}, inplace = True)
dados.rename(columns = {'Approved2nd':'2nd semester performance'}, inplace = True)
dados.drop(['Enrolled1st', 'Enrolled2nd'], inplace = True, axis = 1)
dados.head()

<ipython-input-10-479208742204>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if dados.Enrolled1st[a] == 0: dados.Approved1st[a] = 4 #Não se matriculou
<ipython-input-10-479208742204>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if dados.Enrolled2nd[a] == 0: dados.Approved2nd[a] = 4 #Não se matriculou
<ipython-input-10-479208742204>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if (ratio1st > 0.9) & (ratio1st <= 1): dados.Approved1st[a] = 0 #Excelente desempenho
<ipython-input-10-479208742204>:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if (ratio2nd > 0.9) & (ratio2nd <= 1): dados.Approved2nd[a] = 0 #Excelente desempenho
<ipython-input-10-479208742204>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  else: dados.Approved1st[a] = 3 #Mal desempenho
<ipython-input-10-479208742204>:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  else: dados.Approved2nd[a] = 3 #Mal desempenho
<ipython-input-10-479208742204>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  elif (ratio2nd > 0.7) & (ratio2nd <= 0.9): dados.Approved2nd[a] = 1 #Bom desempenho
<ipython-input-10-479208742204>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  elif (ratio1st > 0.7) & (ratio1st <= 0.9): dados.Approved1st[a] = 1 #Bom desempenho
<ipython-input-10-479208742204>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  elif (ratio2nd > 0.5) & (ratio2nd <= 0.7): dados.Approved2nd[a] = 2 #Médio desempenho
<ipython-input-10-479208742204>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  elif (ratio1st > 0.5) & (ratio1st <= 0.7): dados.Approved1st[a] = 2

,Marital status,ApplicationMode,Application order,Course,Daytime/evening attendance\t,PreviousQualification,PreviousGrade,Nacionality,Mother's qualification,Father's qualification,...,Curricular units 1st sem (without evaluations),Curricular units 2nd sem (credited),Curricular units 2nd sem (evaluations),2nd semester performance,Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
0,1,0,5,171,1,1,1.0,1,19,12,...,0,0,0,4,0.000000,0,10.8,11.4,11.74,Dropout
1,1,1,1,9254,1,1,3.0,1,1,3,...,0,0,6,0,13.666667,0,13.9,9.7,10.79,Graduate
2,1,0,5,9070,1,1,1.0,1,37,37,...,0,0,0,3,0.000000,0,10.8,11.4,11.74,Dropout
3,1,0,2,9773,1,1,1.0,1,38,37,...,0,0,10,1,12.400000,0,9.4,9.2,6.88,Graduate
4,2,3,1,8014,0,1,0.0,1,37,38,...,0,0,6,0,13.000000,0,13.9,9.7,10.79,Graduate

Teste após a mudança mais importante (sem retirar colunas):

In [11]:
#Aplicando um filtro para retirar a coluna "Target" que é o nosso objetivo
filter3 = dados[(dados['Target'] != 'Enrolled')]
filter3.drop(['Target'], inplace = True, axis = 1)
#Treinando o modelo
model.fit(filter3, Y)
#Accuracy do modelo
acc_train = model.score(filter3, Y)
print(acc_train)
filter3.head()

0.8928374655647383

<ipython-input-11-75e290eb40ed>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filter3.drop(['Target'], inplace = True, axis = 1)

,Marital status,ApplicationMode,Application order,Course,Daytime/evening attendance\t,PreviousQualification,PreviousGrade,Nacionality,Mother's qualification,Father's qualification,...,Curricular units 1st sem (grade),Curricular units 1st sem (without evaluations),Curricular units 2nd sem (credited),Curricular units 2nd sem (evaluations),2nd semester performance,Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP
0,1,0,5,171,1,1,1.0,1,19,12,...,0.000000,0,0,0,4,0.000000,0,10.8,11.4,11.74
1,1,1,1,9254,1,1,3.0,1,1,3,...,14.000000,0,0,6,0,13.666667,0,13.9,9.7,10.79
2,1,0,5,9070,1,1,1.0,1,37,37,...,0.000000,0,0,0,3,0.000000,0,10.8,11.4,11.74
3,1,0,2,9773,1,1,1.0,1,38,37,...,13.428571,0,0,10,1,12.400000,0,9.4,9.2,6.88
4,2,3,1,8014,0,1,0.0,1,37,38,...,12.333333,0,0,6,0,13.000000,0,13.9,9.7,10.79

Teste final retirando colunas e usando as alterações dos dados:

In [12]:
#Aplicando um filtro para manter apenas os atributos desejados
filter = dados[(dados['Target'] != 'Enrolled')]
filter.drop(['Nacionality', 'Marital status', 'Application order', 'Admission grade', "Mother's qualification", "Father's qualification", "Mother's occupation", "Father's occupation", 'GDP', 'Displaced', 'Scholarship holder', 'International', 'Curricular units 1st sem (credited)', 'Curricular units 1st sem (evaluations)', 'Curricular units 1st sem (grade)', 'Curricular units 1st sem (without evaluations)', 'Curricular units 2nd sem (credited)', 'Curricular units 2nd sem (evaluations)', 'Curricular units 2nd sem (grade)', 'Curricular units 2nd sem (without evaluations)', 'Inflation rate', 'Unemployment rate', 'Target'], inplace=True, axis=1)
#Treinando o modelo
model.fit(filter, Y)
#Accuracy do modelo
acc_train = model.score(filter, Y)
print(acc_train)
filter.head(10)

0.9016528925619834

<ipython-input-12-72e811ac6ea3>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filter.drop(['Nacionality', 'Marital status', 'Application order', 'Admission grade', "Mother's qualification", "Father's qualification", "Mother's occupation", "Father's occupation", 'GDP', 'Displaced', 'Scholarship holder', 'International', 'Curricular units 1st sem (credited)', 'Curricular units 1st sem (evaluations)', 'Curricular units 1st sem (grade)', 'Curricular units 1st sem (without evaluations)', 'Curricular units 2nd sem (credited)', 'Curricular units 2nd sem (evaluations)', 'Curricular units 2nd sem (grade)', 'Curricular units 2nd sem (without evaluations)', 'Inflation rate', 'Unemployment rate', 'Target'], inplace=True, axis=1)

,ApplicationMode,Course,Daytime/evening attendance\t,PreviousQualification,PreviousGrade,Educational special needs,Debtor,Tuition fees up to date,Gender,Age at enrollment,1st semester performance,2nd semester performance
0,0,171,1,1,1.0,0,0,1,1,20,4,4
1,1,9254,1,1,3.0,0,0,0,1,19,0,0
2,0,9070,1,1,1.0,0,0,0,1,19,3,3
3,0,9773,1,1,1.0,0,0,1,0,20,0,1
4,3,8014,0,1,0.0,0,0,1,0,45,1,0
5,3,9991,0,3,2.0,0,1,1,1,50,0,0
6,0,9500,1,1,2.0,0,0,1,0,18,0,0
7,0,9254,1,1,1.0,0,0,0,1,22,3,3
8,0,9238,1,1,2.0,0,0,1,0,21,0,0
9,0,9238,1,1,2.0,0,1,0,0,18,1,3

In [13]:
#Aplicando o modelo
teste = dados[(dados['Target'] == 'Enrolled')]
teste.drop(['Nacionality', 'Marital status', 'Application order', 'Admission grade', "Mother's qualification", "Father's qualification", "Mother's occupation", "Father's occupation", 'GDP', 'Displaced', 'Scholarship holder', 'International', 'Curricular units 1st sem (credited)', 'Curricular units 1st sem (evaluations)', 'Curricular units 1st sem (grade)', 'Curricular units 1st sem (without evaluations)', 'Curricular units 2nd sem (credited)', 'Curricular units 2nd sem (evaluations)', 'Curricular units 2nd sem (grade)', 'Curricular units 2nd sem (without evaluations)', 'Inflation rate', 'Unemployment rate', 'Target'], inplace=True, axis=1)
pred_classes = model.predict(teste)
teste.insert(loc = 0, column = 'Target', value = pred_classes)
show = teste
print(pred_classes[0:10])
show.head(10)

['Dropout' 'Graduate' 'Graduate' 'Graduate' 'Graduate' 'Graduate'
 'Graduate' 'Dropout' 'Dropout' 'Graduate']

<ipython-input-13-50ff26f3b567>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  teste.drop(['Nacionality', 'Marital status', 'Application order', 'Admission grade', "Mother's qualification", "Father's qualification", "Mother's occupation", "Father's occupation", 'GDP', 'Displaced', 'Scholarship holder', 'International', 'Curricular units 1st sem (credited)', 'Curricular units 1st sem (evaluations)', 'Curricular units 1st sem (grade)', 'Curricular units 1st sem (without evaluations)', 'Curricular units 2nd sem (credited)', 'Curricular units 2nd sem (evaluations)', 'Curricular units 2nd sem (grade)', 'Curricular units 2nd sem (without evaluations)', 'Inflation rate', 'Unemployment rate', 'Target'], inplace=True, axis=1)

,Target,ApplicationMode,Course,Daytime/evening attendance\t,PreviousQualification,PreviousGrade,Educational special needs,Debtor,Tuition fees up to date,Gender,Age at enrollment,1st semester performance,2nd semester performance
16,Dropout,0,9238,1,1,2.0,0,0,1,0,18,3,3
19,Graduate,0,9853,1,1,2.0,0,0,1,0,18,1,1
21,Graduate,0,9556,1,1,1.0,0,0,1,0,20,0,0
25,Graduate,0,9238,1,1,3.0,0,1,1,0,18,1,2
27,Graduate,0,9085,1,1,2.0,0,0,1,0,18,0,1
29,Graduate,0,9500,1,1,1.0,0,0,1,1,19,1,1
30,Graduate,3,9003,1,0,2.0,0,0,1,1,21,1,1
32,Dropout,0,9147,1,1,2.0,0,0,0,1,18,2,3
45,Dropout,0,9991,0,1,3.0,0,0,1,0,24,3,2
51,Graduate,0,9500,1,1,2.0,0,0,1,0,19,1,1

In [17]:
#Porcentagem de graduados
b = 0
c = 0
for a in range(len(show.index)):
  if show.Target[show.index[a]] == 'Graduate':
    b += 1
  c += 1
print(100*b/c)

55.2896725440806

In [18]:
#Tabela dos desistentes
printar = show[(show['Target'] == 'Dropout')]
printar.head(len(printar.index))

,Target,ApplicationMode,Course,Daytime/evening attendance\t,PreviousQualification,PreviousGrade,Educational special needs,Debtor,Tuition fees up to date,Gender,Age at enrollment,1st semester performance,2nd semester performance
16,Dropout,0,9238,1,1,2.0,0,0,1,0,18,3,3
32,Dropout,0,9147,1,1,2.0,0,0,0,1,18,2,3
45,Dropout,0,9991,0,1,3.0,0,0,1,0,24,3,2
52,Dropout,0,9773,1,1,1.0,0,0,1,0,20,2,3
63,Dropout,0,9070,1,1,1.0,0,0,1,1,19,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4354,Dropout,3,9991,0,1,2.0,0,0,1,0,30,2,1
4381,Dropout,0,9238,1,1,2.0,0,0,1,0,20,3,3
4397,Dropout,1,9853,1,1,1.0,0,0,1,0,21,1,3
4406,Dropout,0,9070,1,1,2.0,0,0,1,1,20,2,3
4413,Dropout,2,33,1,1,2.0,0,0,1,1,25,3,3

In [19]:
#Tabela dos graduados
printar = show[(show['Target'] == 'Graduate')]
printar.head(len(printar.index))

,Target,ApplicationMode,Course,Daytime/evening attendance\t,PreviousQualification,PreviousGrade,Educational special needs,Debtor,Tuition fees up to date,Gender,Age at enrollment,1st semester performance,2nd semester performance
19,Graduate,0,9853,1,1,2.0,0,0,1,0,18,1,1
21,Graduate,0,9556,1,1,1.0,0,0,1,0,20,0,0
25,Graduate,0,9238,1,1,3.0,0,1,1,0,18,1,2
27,Graduate,0,9085,1,1,2.0,0,0,1,0,18,0,1
29,Graduate,0,9500,1,1,1.0,0,0,1,1,19,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4373,Graduate,0,9238,1,1,1.0,0,0,1,0,19,3,0
4391,Graduate,3,9500,1,0,1.0,0,0,1,0,32,0,1
4392,Graduate,0,9147,1,1,3.0,0,0,1,0,18,1,0
4402,Graduate,0,9853,1,1,3.0,0,0,1,1,18,1,0
4412,Graduate,2,9070,1,1,1.0,0,0,1,1,19,2,1